h1 {
	color: blue; 
	font-family: arial;
	font-size: 35px; 
} 

p {
	color: pink;
	font-family: helvetica; 
	font-size: 20px;
}

ul {
	color: green;
	font-family: arial;
	font-size: 30px;
	background-color: yellow;
}

h2 {
	color: green;
	background-color: orange
}

ol {
	color: purple;
	font-family: arial;
}